/* BASE RULES start  */
/* * {
    background-color: rgb(14, 14, 14);
} */
#cursive{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.liner{
    margin-bottom: 200px;
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}