/* BASE RULES start  */
* {
    margin: 0px;
}

html {
    font-size: 10px;
    margin: 0px;
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 4rem;
    /* font-family: 'Montserrat', sans-serif; */
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}


/* BASE RULES end  */

/* GLOBAL FRAME start  */
.custom-shape-divider-top {
    fill: white;
    position: absolute;
    top: 0;
    left: 0;

    width: 99%;
    overflow: hidden;
    line-height: 0;
}

.flex-container {
    justify-content: space-between;
    display: flex;
    flex-basis: 100%;
}

.wave {
    display: flex;
    position: relative;
}

.liner {
    
    position: absolute;
    margin-top: 10px;
    left: 40px;
    background-color: #dadada;
    height: 500px;
    width: 10px;
    border-radius: 20px 20px 20px 0px;
}
.liner-two {
    
    position: absolute;
    bottom: 250 px;
    left: 40px;
    background-color: #ff0000;
    height: 650px;
    width: 10px;
    border-radius: 20px 20px 20px 0px;
}



.header {
    /* height: 300px; */
    /* padding: 20px; */
    margin-top: 1%;
    margin-right: 1%;
    background: lightseagreen;
    /* justify-content: space-around; */
}

.main {
    margin-top: 1%;
    flex-wrap: wrap;
    /* padding: 20px; */
    background: white;
}

.v-stack {
    width: 100%;
}

/* GLOBAL FRAME end  */
.spacer {
    height: 6vh;

}

.h-spacer{
    width: 15px;
    /* background: aliceblue; */
}

.round-bar-light {
    display: flex;
    background: #dadada;
    width: 35%;
    height: 35px;
    position: relative;
    /* top: 50px; */
    border-radius: 0px 20px 20px 0px;
}

.round-bar {
    display: flex;
    background: lightseagreen;
    /* width: 35%; */
    height: 35px;
    position: relative;
    top: 25px;
    border-radius: 0px 20px 20px 0px;
}

.bar-txt {
    margin: auto;
    margin-left: 15%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.round-bar-light h3 {
    margin: auto;
    margin-left: 15%;
    color: rgb(75, 75, 75);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}


.header-item {
    /* flex-basis: content; */
    /* margin: auto; */
    background: lightseagreen;
    /* height: 200px; */
}

.header-item h2 {
    color: white;
}

.photo {
    display: flex;
    justify-items: flex-end;
    /* padding: 10px; */
    /* margin: auto; */
    /* justify-self: flex-end; */
}

.empty {
    background: cornflowerblue;
    margin: auto;
}

.decor {
    display: flex;
    flex-direction: column;

    background-color: rgb(70, 70, 70);
}

/* .decor-inner {
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 226, 162);
} */

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .flex-column h1{
    
} */
.flex-wrap {
    flex-wrap: nowrap;
}

.profil {
    /* margin-right: 1%; */
    display: flex;
    flex-basis: 50%;
    background: rgb(70, 70, 70);
    border-radius: 0% 30% 0% 0% / 0% 30% 0% 0%;
    /* flex-shrink: 0; */
    /* flex: auto; */

}

.xp {
    display: flex;
    flex-basis: 50%;
    /* flex-shrink: 0; */
    background: white;
    /* flex: auto; */
}

.formation {
    color: white;
    display: flex;
    flex-basis: 50%;
    /* flex-shrink: 0; */
    background: rgb(70, 70, 70);
    /* flex: auto; */
}

.skills {
    color: white;
    display: flex;
    flex-basis: 50%;
    /* flex-shrink: 0; */
    background: rgb(70, 70, 70);
    /* flex: auto; */
}

.interet {
    display: flex;
    flex-basis: 50%;
    /* flex-shrink: 0; */
    background: white;
    /* flex: auto; */
}

.contact {
    display: flex;
    justify-content: space-evenly;
}

.empty-grow {
    flex-grow: 0.6;
}

.photo img {
    margin: auto;
    z-index: 2;
    /* flex-shrink: */
}


/* blue title bars START  */

#profil-bar {
    width: 30%;
}

#xp-bar {
    width: 50%;

}

#formation-bar {
    width: 50%;
}

#skill-bar {
    width: 60%;

}

#interet-bar {
    width: 40%;

}

/* blue title bar END  */
.name {
    z-index: 5;
}

.name h2 {
    text-shadow: 1px 1px black, -1px 2px black;
}

.h-stack {
    
    display: flex;
    justify-content: flex-end;
    /* text-align: end; */
    width: 100%;
}

#cursive {
    text-align: center;
    color: white;
    font-family: 'MonteCarlo', cursive;
    font-size: 3rem;
}

#firstname {
    text-shadow: -1px -1px grey, 1px -1px 0 grey, -1px 1px 0 #000, 1px 1px 0 grey;
    color: white;
}

#lastname {

    color: rgb(66, 66, 66);
}

.light-txt {
    font-size: 2rem;
}

.dark-txt {
    font-size: 2rem;
    color: black;
    
}



@media screen and (max-width: 720px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .flex-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #test {
        width: 150px;
        height: 100px;
        transform: skew(20deg);
        background: red;
      }

    .photo {
        /* display: flex; */
        order: -1;
        /* margin: auto; */
        /* height: auto; */
        /* position: relative; */

    }

    /* .flex-container{
        justify-content: space-evenly;
    } */
}